@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  padding: 0px;
  background-color: #5e5e5e;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 50px;
  color: #fff;
  background-color: #101010;
  height: 70px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  margin-top: 20px;
}

.tipo {
  text-align: center;
  padding: 10px;
  color: #e7e7e7;
  height: 60px;
}
.mb-3 {
  gap: 5px;
}
.test {
  background-color: black !important;
  color: gray !important;
  border: none;
}

.test:hover {
  background-color: grey !important;
  color: black !important;
  border: none !important;
}

/* .test:active {
  background-color: grey !important;
  color: black !important;
  border: none !important;
} */

.list{
  text-decoration: none;
}

